*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

#cameraContainer{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

#camera{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    background:#000;
}

/* Bottom GPS Panel */

#gpsPanel{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    min-height:180px;

    background:rgba(0,0,0,.75);
    color:#fff;

    display:flex;
    align-items:flex-start;

    padding:15px;
}

#mapBox{

    width:130px;
    height:130px;

    border-radius:12px;

    overflow:hidden;

    background:#333;

    margin-right:15px;

    flex-shrink:0;

}

#map{

    width:100%;
    height:100%;

}

/* Details */

#details{

    flex:1;

}

#placeName{

    font-size:30px;

    font-weight:bold;

    margin-bottom:5px;

}

#country{

    color:#00ff66;

    font-size:18px;

    margin-bottom:8px;

}

#address{

    font-size:16px;

    line-height:24px;

    margin-bottom:8px;

}

#lat,
#lng,
#dateTime{

    font-size:15px;

    margin-top:5px;

}

/* Capture Button */

#captureBtn{

    position:absolute;

    bottom:205px;

    left:50%;

    transform:translateX(-50%);

    width:75px;

    height:75px;

    border-radius:50%;

    border:none;

    background:#fff;

    font-size:30px;

    cursor:pointer;

    box-shadow:0 0 15px rgba(0,0,0,.5);

}

/* Captured Image */

#result{

    display:none;

    width:100%;

    height:auto;

}

/* Mobile */

@media(max-width:700px){

#gpsPanel{

padding:12px;

}

#mapBox{

width:105px;

height:105px;

}

#placeName{

font-size:22px;

}

#country{

font-size:15px;

}

#address{

font-size:13px;

line-height:18px;

}

#lat,
#lng,
#dateTime{

font-size:12px;

}

#captureBtn{

bottom:180px;

width:65px;

height:65px;

font-size:25px;

}

}
